In [1]:
import pandas as pd

In [2]:
t1_1, t1_2, t1_3 = 23, 30, 26
h1_1, h1_2, h1_3 = 5.0, 5.5, 5.0

t2_1, t2_2, t2_3 = 52, 54, 53
h2_1, h2_2, h2_3 = 7.5, 8.0, 7.5

t3_1, t3_2, t3_3 = 79, 75, 80
h3_1, h3_2, h3_3 = 9.5, 10.0, 10.5

data = {
    "t1 (с)": [t1_1, t1_2, t1_3],
    "Δ h1 (см)": [h1_1, h1_2, h1_3],
    "t2 (с)": [t2_1, t2_2, t2_3],
    "Δ h2 (см)": [h2_1, h2_2, h2_3],
    "t3 (с)": [t3_1, t3_2, t3_3],
    "Δ h3 (см)": [h3_1, h3_2, h3_3]
}

df = pd.DataFrame(data)

df

   t1 (с)  Δ h1 (см)  t2 (с)  Δ h2 (см)  t3 (с)  Δ h3 (см)
0      23        5.0      52        7.5      79        9.5
1      30        5.5      54        8.0      75       10.0
2      26        5.0      53        7.5      80       10.5

In [3]:
V1 = 0.5
V2 = 1
V3 = 1.5
r = 0.580
p = 100_000
L = 94
R = 8.31
M = 29 * 10 ** -3
k = 1.38 * 10 ** -23
T = 20 + 273

t1_mean = df["t1 (с)"].mean()
Δh1_mean = df["Δ h1 (см)"].mean()
t2_mean = df["t2 (с)"].mean()
Δh2_mean = df["Δ h2 (см)"].mean()
t3_mean = df["t3 (с)"].mean()
Δh3_mean = df["Δ h3 (см)"].mean()

In [4]:
eta_1 = r **4 * 3.14 * 1000 * 10 * t1_mean * Δh1_mean / (8 * V1 * L)
eta_1 = round(eta_1, 2)
eta_1

1285.79

In [5]:
eta_2 = r **4 * 3.14 * 1000 * 10 * t2_mean * Δh2_mean / (8 * V2 * L)
eta_2 = round(eta_2, 2)
eta_2

1920.02

In [6]:
eta_3 = r **4 * 3.14 * 1000 * 10 * t3_mean * Δh3_mean / (8 * V3 * L)
eta_3 = round(eta_3, 2)
eta_3

2457.12

In [7]:
eta = (eta_1 + eta_2 + eta_3) / 3
eta = round(eta,2)
eta

1887.64

In [8]:
ro = M * p/ (R * T)
round(ro,2)

1.19

In [9]:
D = 1.3 * eta / ro
D = round(D,2)
D

2060.31

In [10]:
V_ar = (8 * R * T / (3.14 * M)) ** (1/2)
V_ar = round (V_ar,2)
V_ar

462.5

In [11]:
lambda_ = 3 * D / V_ar
lambda_ = round(lambda_,2)
lambda_

13.36

In [12]:
n = p / (k * T)
n

2.473166147301776e+25

In [13]:
Z = V_ar / lambda_
Z = round(Z,2)
Z

34.62

In [14]:
d = (k * T / (1.41 * 3.14 * lambda_ * p)) ** (1/2)
d

2.6145427297440655e-14